<ul class="list">
	<li><button type="button" class="page-number first-page">{{firstPage}}</button></li>
  <li class="page-number page-numbers-separator">...</li>
  <li><button type="button" class="page-number middle"></button></li>
  <li><button type="button" class="page-number middle"></button></li>
  <li><button type="button" class="page-number middle"></button></li>
  <li><button type="button" class="page-number middle"></button></li>
  <li><button type="button" class="page-number middle"></button></li>
  <li class="page-number page-numbers-separator">...</li>
  <li><button type="button" class="page-number last-page">{{lastPage}}</button></li>
</ul>