<button type="button" class="pagination-controls first-page">{{firstPage}}</button>
<p class="pagination-controls pre-separator">...</p>
<div class="middle-page-numbers"></div>
<p class="pagination-controls post-separator">...</p>
<button type="button" class="pagination-controls last-page">{{lastPage}}</button>
